<!-- <p>admin-header works!</p> -->


<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <!-- <h1 class="text-light"><a href="index.html"></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a (click)="setId(1)" routerLink="/home"><img [src]="headerData?.logo" alt="" class="img-fluid"></a> <span style="font-size: larger; font-weight: bolder;">{{headerData?.labName}}</span>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" (click)="setId(1)" [ngClass]="{'active': id === 1 }" routerLink="home">Home</a></li>
          <li><a class="nav-link scrollto" (click)="setId(2)" [ngClass]="{'active': id === 2 }" routerLink="people">People</a></li>
          <li><a class="nav-link scrollto" (click)="setId(3)" [ngClass]="{'active': id === 3 }" routerLink="research/publications">Add Publications</a></li>
          <li><a class="nav-link scrollto" (click)="setId(4)" [ngClass]="{'active': id === 4 }" routerLink="research/Conferences">Add Conferences</a></li>
          <!-- <li><a class="nav-link scrollto" (click)="setId(3)" [ngClass]="{'active': id === 3 }" routerLink="/research">Research</a></li> -->
          <li><a class="nav-link scrollto" (click)="setId(5)" [ngClass]="{'active': id === 5 }" routerLink="gallery">Add Gallery</a></li>
          <li><a class="nav-link scrollto" (click)="setId(6)" [ngClass]="{'active': id === 6 }" routerLink="login" >Profile</a></li>
          <li><a class="nav-link scrollto"  [routerLink]="'/features/'+lab_id+'/home'">View Website</a></li>
          <li><a class="nav-link scrollto" routerLink="/logout">logout</a></li>
          <!-- <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>