<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row justify-content-between">
       <div class="col">
        <div class="copyright">
          &copy; Copyright <strong><span>Team SVAN</span></strong>. All Rights Reserved
        </div>
        <div class="credits"> 
          Software Engineering Project instructed by Jyoti Maam
          Our Team Members are Sayeed, Amogh, Nikhilesh, Vardhan
        </div>
       </div>
      </div>
    </div>
  </div>

</footer>