<!-- <p>admin-footer works!</p> -->

<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">
          <p>Designed by Team 10 - SVAN</p>
        </div>
      </div>

      <div class="container py-4">
        <div class="copyright">
          &copy; Copyright <strong><span>Team SVAN</span></strong>. All Rights Reserved
        </div>
        <div class="credits"> 
          Software Engineering Project instructed by Jyoti Maam
          Our Team Members are Sayeed, Amogh, Nikhilesh, Vardhan
        </div>
      </div>

    </div>
   
</footer>