<section id="intro" class="about-section" style="margin-top:5rem ;">
    <div class="container">
      <div class="row gutters justify-content-center">
        <h1 style="text-align: center;">Publications</h1>
        <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 justify-content-between"> <!--col-xl-8 col-lg-12 col-md-12 col-sm-12-->
          <form [formGroup]="publicationform" (ngSubmit)="onPublicationFormSubmit(publicationform.value)">
            <div class="form-group row">
              <label for="title" class="col-sm-2 col-form-label">Title</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="title" placeholder="Publication Title" formControlName = "pubTitle">
              </div>
            </div>
            <div class="form-group row">
              <label for="desc" class="col-sm-2 col-form-label">Description</label>
              <div class="col-sm-10">
                <textarea type="text" class="form-control" id="desc" placeholder="Description" formControlName = "pubDescription" rows="3"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="pdf" class="col-sm-2 col-form-label">Publication PDF URL</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="pdf" placeholder="PDF LINK" formControlName = "pubPdfUrl">
              </div>
            </div>
            <div class="form-group row">
              <label for="pdf" class="col-sm-2 col-form-label">Publication Type</label>
              <div class="col-10">
                <select class="form-select"
                (change)="changeJournal($event)"
                formControlName="pubType">
                  <option value="">Select Publication Type</option>
                  <option value="journal">Journal</option>
                  <option value="conference">Conference</option>
                </select>
              </div>
            </div>
            <div class="form-group row mt-4">
              <div class="col-sm-5  d-flex justify-content-center ">
                <button type="submit" class="btn btn-primary px-10" style="padding-left: 2rem; padding-right: 2rem;margin-left: 6rem;">SAVE</button>
              </div>
              <div class="col-sm-5  d-flex justify-content-center ">
                <button  class="btn btn-primary px-10" style="padding-left: 2rem; padding-right: 2rem;margin-left: 6rem;" (click)="clearForm()">CLEAR</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row gutter">
        <h1 style="text-align: center; margin-top: 5rem;">All Publications List</h1>
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 ">
             <ngx-table [configuration]="configuration"
           [data]="allPubData"
           [columns]="columns"
           (event)="onEvent($event)">
           <ng-template let-row>
            <td>
              <div class="font-small">{{ row.pub_title }}</div>
            </td>
            <td>
              <span class="font-small">{{ row.description | truncate:28  }}</span>
            </td>
            <td>
              <span class="font-small">{{ row.blob_storage }}</span>
            </td>
            <td>
              <span class="font-small">{{ row.type }}</span>
            </td>
            <td>
              <ul class="list-inline m-0">
                
                <li class="list-inline-item">
                    <button (click)="onEditClick()" class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="bi bi-pencil-square"></i></button>
                </li>
                <li class="list-inline-item">
                    <button (click)="onDeleteClick()" class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="bi bi-trash"></i></button>
                </li>
            </ul>
            </td>
          </ng-template>
</ngx-table>
        </div>
      </div>
    </div>
  </section>