/* General styles */

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
  }
  
  h2 {
    font-size: 1rem;
  }
  
  ul,
  ol,
  dl,
  p {
    font-size: 1rem;
  }
  
  li,
  p {
    line-height: 1.5;
  }
  
  /* Description list styles */
  
  dd,
  dt {
    line-height: 1.5;
  }
  
  dt {
    font-weight: bold;
  }




.left  {

    float: left;
}
.right {

    float: right;
}

li:not(:first-of-type) {
    margin-top: 3em;
}



li:not(:last-of-type) {
    margin-bottom: 1.5em;
}
  

   .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    transition: 0.5s;
    margin-top: 4px;
    color: #fff;
    background: #eb5d1e;
  }
  
.btn-get-started:hover {
    background: #ef7f4d;
  }