<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center mt-500 mb-500">

            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title m-b-0">News Updates</h4>
                    </div>
                    <ul class="list-style-none">
                        <li class="d-flex no-block card-body">
                            <i class="fa fa-plus w-30px m-t-5"></i>
                            <div>
                                <a href="#" class="m-b-0 font-medium p-0" data-abc="true">Hiring Android Developers</a>
                                <span class="text-muted">We are hiring </span>
                            </div>
                            <div class="ml-auto">
                                <div class="tetx-right">
                                    <h5 class="text-muted m-b-0">19</h5>
                                    <span class="text-muted font-16">APR</span>
                                </div>
                            </div>
                        </li>


                        

                        <li class="d-flex no-block card-body border-top">
                            <i class="fa fa-plus w-30px m-t-5"></i>
                            <div>
                                <a href="#" class="m-b-0 font-medium p-0" data-abc="true">Hiring Android Developers</a>
                                <span class="text-muted">We are hiring android developers to expend our mobile
                                    development team.</span>
                            </div>
                            <div class="ml-auto">
                                <div class="tetx-right">
                                    <h5 class="text-muted m-b-0">19</h5>
                                    <span class="text-muted font-16">APR</span>
                                </div>
                            </div>
                        </li>

                        <li class="d-flex no-block card-body border-top">
                            <i class="fa fa-plus w-30px m-t-5"></i>
                            <div>
                                <a href="#" class="m-b-0 font-medium p-0" data-abc="true">Hiring Android Developers</a>
                                <span class="text-muted">We are hiring android developers to expend our mobile
                                    development team.</span>
                            </div>
                            <div class="ml-auto">
                                <div class="tetx-right">
                                    <h5 class="text-muted m-b-0">19</h5>
                                    <span class="text-muted font-16">APR</span>
                                </div>
                            </div>
                        </li>

                        <li class="d-flex no-block card-body border-top">
                            <i class="fa fa-plus w-30px m-t-5"></i>
                            <div>
                                <a href="#" class="m-b-0 font-medium p-0" data-abc="true">Hiring Android Developers</a>
                                <span class="text-muted">We are hiring android developers to expend our mobile
                                    development team.</span>
                            </div>
                            <div class="ml-auto">
                                <div class="tetx-right">
                                    <h5 class="text-muted m-b-0">19</h5>
                                    <span class="text-muted font-16">APR</span>
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
                <h1> spaceeee </h1>

            </div>
        </div>
    </div>

</section>