<section id="intro" class="about-section pt-70" style="margin-top: 80px;" *ngIf="isLoaded">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 style="text-align: center;">Gallery</h1>
            </div>
        </div>
      <div class="row ">
        <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 justify-content-between" *ngFor="let gal of galleryList; index as i;"> 
        <h3>{{imagegallery[i].title}}</h3>
        <h6>{{imagegallery[i].description}}</h6>
        <gallery [items]="gal"
        id="gallery-{{i}}"
        [thumb]="config?.thumb!"
        [dots]="config?.dots!"
          ></gallery>
        </div>
    </div>
    </div>
  </section>