.lab-overview-img {
    border: 2px solid #ddd;
    border-radius: 6px;
    padding: 5px;
    width: 150px;
  }

form label,
form input,
form textarea {
  display: block;
  margin-bottom: 1em; /* Adjust as needed */
}