<p>publications works!</p>
<section>

    <div class="container" >

        <div class="section-title mt-5" data-aos="fade-up">
          <p>Publications</p>
        </div>
  
        <div class="row justify-content-center">
  
            <div class="col-xl-10 col-lg-10 col-md-10" data-aos="zoom-in" data-aos-delay="300">
                <ul data-aos="zoom-in" data-aos-delay="300">
                    <li data-aos="zoom-in" data-aos-delay="300"><b>pSMART: A lightweight, privacy-aware service function chain orchestration in multi-domain NFV/SDN</b></li>
                    <ul class="square">
                        <li>Service Function Chaining (SFC) has become an integral part of every emerging application to satisfy its specific demand. Due to the massive increase in such diverse applications, there is a need for an efficient solution for flexible SFC orchestration.</li>
                        <div>
                            <a href="#about" class="btn-get-started scrollto">PDF</a>
                        </div>
                    </ul>

                    <li data-aos="zoom-in" data-aos-delay="300"><b>pSMART: A lightweight, privacy-aware service function chain orchestration in multi-domain NFV/SDN</b></li>
                    <ul class="square">
                        <li>Service Function Chaining (SFC) has become an integral part of every emerging application to satisfy its specific demand. Due to the massive increase in such diverse applications, there is a need for an efficient solution for flexible SFC orchestration.</li>
                        <!-- <li><a href="#about" class="btn-get-started scrollto">Go to Team</a></li>  -->
                        <div>
                            <a href="#about" class="btn-get-started scrollto">PDF</a>
                        </div>
                    </ul>

                    <li data-aos="zoom-in" data-aos-delay="300"><b>pSMART: A lightweight, privacy-aware service function chain orchestration in multi-domain NFV/SDN</b></li>
                    <ul class="square">
                        <li>Service Function Chaining (SFC) has become an integral part of every emerging application to satisfy its specific demand. Due to the massive increase in such diverse applications, there is a need for an efficient solution for flexible SFC orchestration.</li>
                        <div>
                            <a href="#about" class="btn-get-started scrollto">PDF</a>
                        </div>
                    </ul>

                </ul>

            </div>
          

  
        </div>
  
      </div>
</section>
